<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

<!--    <context:property-placeholder
            location="
         classpath*:app-${envTarget}.properties"/>-->

    <bean id="handleFactory" class="com.lance.cache.cachedemo.factory.ResponseHandlerFactory">
        <property name="handlerMap">
            <map>
                <entry key="pboc" value-ref="pbocHandler"></entry>
                <entry key="bankAsset" value-ref="bankAssetHandler"></entry>
            </map>
        </property>
    </bean>


    <task:scheduled-tasks>
        <task:scheduled ref="refreshScheduler" method="refresh" cron="0/2 * * * * ?"/>
    </task:scheduled-tasks>

</beans>